/* Reset y estilos globales */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding-left: 250px; /* Añadido para dejar espacio para la barra lateral */
}

/* Estilos para la parte superiro de la pagina (encabezado) */
.header {
    background-color: #7d7d7d;
    width: calc(100% - 250px); /* Ajustado para dejar espacio para la barra lateral */
    height: 70px; 
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 5px solid #aca9a9;
    z-index: 2;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo {
    float: left;
    line-height: 70px; 
}

.container .btn-menu label {
    color: white;
    font-size: 25px;
    cursor: pointer;
    justify-content: flex-start;
    display: none;
    margin-right: 10px;
}

.centered-h1 {
    color: white;
    font-size: 2rem; 
    margin-top: 13px;
}

.container .menu {
    float: right;
    margin-right: 50px;
    line-height: 70px; 
    justify-content: flex-end;
}

.container .menu a {
    display: inline-block;
    padding: 20px;
    line-height: normal;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.container .menu a img {
    padding-top: 5px;
    vertical-align: middle;
}


/*ESTILOS PARA EL NAVBAR LATERAL Y DE TODO LO RELACIONADO CON ESO*/

.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #6d6d6d;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
}

.cont-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cont-menu nav {
    flex-grow: 1;
}

.nav_link {
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
    gap: 8px;
}

.nav_link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav_link i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.nav_link a {
    text-align: left;
}

/* aqui quita el padding  */

.nav_link--inside {
    padding-left: 10px;
}

.list_item {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.list_item--click {
    cursor: pointer;
}

.no-padding-menu{
    padding-left: 10px;
}

.list_inside{
    list-style: none;
}

.list_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.list_show {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    border-left: 2px solid white;
    margin-left: 22px;
}

.list_show.show {
    max-height: 200px;
    opacity: 1;
}

.rotate {
    transform: rotate(180deg);
}

.empleado {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #555;
    font-weight: bold;
    border-bottom: 2px solid #777;
    margin-bottom: 10px;
    justify-content: center;
}

.empleado i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
    margin-bottom: 3px;
}

.cerrar-sesion {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #555;
    text-align: center;
}

.cerrar-sesion:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.list_item--click > .list_button > .nav_link {
    justify-content: space-between;
}

.list_item--click > .list_button > .nav_link > .arrow {
    margin-left: 10px;
}




/* Ajustes generales */
.actions {
    margin-top: 90px;
    padding: 20px;
    z-index: 500; 
}

.user-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none; 
    color: white;
    font-size: 16px;
}

.user-link img {
    margin-left: 3px;
    vertical-align: middle;
    padding-bottom: 5px;
}


/* ESTILOS DE LAS TABLAS DE CONTENIDO EN DONDE SE EDITA TO ESO*/




table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    table-layout: fixed; /* Importante para forzar que las celdas respeten el ancho de la tabla */
}

thead th {
    background-color: #6d6d6d;
    color: white;
    padding: 10px;
    border-bottom: 2px solid #555;
    text-size-adjust: auto;
}

tbody td {
    word-wrap: break-word; /* Permite que el texto dentro de las celdas se ajuste */
    overflow-wrap: break-word; /* Alternativa para navegadores modernos */
    white-space: normal; /* Permite que el texto se ajuste automáticamente a nuevas líneas */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* ESTILOS PAR LOS BOTONES EN EL APARTADO DE ACCIONES DE UNA TABLA */
.acciones {
    display: inline-flex;
    margin-right: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}




tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

input[type="text"], input[type="date"], input[type="number"], textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
}

.recent-changes-history-table {
    width: 100%;
}

@media (max-width: 1300px) {
    .recent-changes-history-table {
        font-size: 0.6rem; 
    }

    .recent-changes-history-table th,
    .recent-changes-history-table td {
        padding: 8px; /* Depemndiendo de com o queramos el ajustar el contenido solo cambair el padding */
    }
}

@media (max-width: 480px) {
    .recent-changes-history-table {
        font-size: 0.5rem; /* fuente pa la pantalla de mobil */
    }

    .recent-changes-history-table th,
    .recent-changes-history-table td {
        padding: 6px;
    }
}







/* Estilos para el recuadro de expediente médico */

/*
.contentbox {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

.contentbox h2, .contentbox h3 {
    color: #111111;
    margin-bottom: 20px;
    margin-top: 1rem;
    text-align: center;
}
*/

/* Estilo para los botones */
button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #080808;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.form-row input:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.button-group .delete-button {
    background-color: #ff4d4d;
    color: white;
}

.button-group .save-button {
    background-color: #4CAF50;
    color: white;
    display: none; /* Inicialmente oculto */
}



/* Estilos responsivos */
@media (max-width: 768px) {
    
    
    .container .menu a{
        display: none;
    }

    .container .btn-menu label {
        display: block;
        margin-left: .5rem  ;
    }

    body {
        padding-left: 0;
    }

    .header {
        width: 100%;
    }

    .container-menu {
        left: -250px;
        transition: left 0.3s ease;
    }

    input[type="checkbox"]:checked ~ .container-menu {
        left: 0;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
    transition: none !important; /* Desactiva transiciones que puedan interferir */
}

.custom-button {
    background-color: #080808;;
}