section {
    min-height: 1vmax;
    min-width: 4vmax;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    margin-top: 2rem;
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.contentbox {
    z-index: 600;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 2rem;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 10px;
}

.contentbox:hover {
    transform: translateY(-5px);
}

.contentbox h2, .contentbox h3{
    margin-bottom: 1rem;
    color: #333;
}

.contentbox img {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.contentbox button{
    background-color: #6d6d6d;
    color: white;
    border: none;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contentbox button a{
    color: white;
    text-decoration: none;
}

.contentbox input {
    background-color: #aeaeae49;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 20px;
    width: 100%;
    max-width: 200px;
}


.contentbox select {
    background-color: #aeaeae;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
    width: 100%;
    max-width: 200px;
}

.contentbox button:hover {
    background-color: #aeaeae;
}

.subcontainer {
    z-index: 600;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .subcontainer {
        grid-template-columns: 1fr;
    }
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f3e9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s, visibility 0.5s;
}
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #7d7d7d;
    border-top: 5px solid #6d6d6d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}