section {
    min-height: 1vmax;
    min-width: 4vmax;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.contentbox {
    z-index: 600;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 10px;
}

.contentbox:hover {
    transform: translateY(-5px);
}

.contentbox h2 {
    margin-bottom: 1rem;
    color: #333;
}

.contentbox img {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.contentbox button {
    background-color: #6d6d6d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contentbox input {
    background-color: #aeaeae;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
    width: 100%;
    max-width: 200px;
}

.contentbox select {
    background-color: #aeaeae;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
    width: 100%;
    max-width: 200px;
}

.contentbox button:hover {
    background-color: #aeaeae;
}

.subcontainer {
    z-index: 600;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .subcontainer {
        grid-template-columns: 1fr;
    }
}